@media (max-width: 1200px) {
	legend {
	  font-size: calc(1.275rem + 0.3vw);
	}
	h1,
	.h1 {
	  font-size: calc(1.375rem + 1.5vw);
	}
	h2,
	.h2 {
	  font-size: calc(1.325rem + 0.9vw);
	}
	h3,
	.h3 {
	  font-size: calc(1.3rem + 0.6vw);
	}
	h4,
	.h4 {
	  font-size: calc(1.275rem + 0.3vw);
	}
	.display-1 {
	  font-size: calc(1.725rem + 5.7vw);
	}
	.display-2 {
	  font-size: calc(1.675rem + 5.1vw);
	}
	.display-3 {
	  font-size: calc(1.575rem + 3.9vw);
	}
	.display-4 {
	  font-size: calc(1.475rem + 2.7vw);
	}
	.close {
	  font-size: calc(1.275rem + 0.3vw);
	}
  }

body {
	background: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

*:focus {
	outline:none;
}
div .attr {
	height:200px;  
	background-position: center;
}

div .attr h5 {
	margin-top:15px;
	font-size: 15px;
	letter-spacing: 0em;
	text-align: center;
}
div .attr h4 {
	font-size: 30px;
	padding-top: 30%;
	color:white;
}

.Strength {
	background-image: url("/images/Strength.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: red;
	
}
.Dexterity {
	background-image: url("/images/Dexterity.png");
	background-size: contain;
	background-repeat: no-repeat;
	color:orange;
}
.Constitution {
	background-image: url("/images/Constitution.png");
	background-size: contain;
	background-repeat: no-repeat;
	color:green;
}
.Intelligence {
	background-image: url("/images/Intelligence.png");
	background-size: contain;
	background-repeat: no-repeat;
	color:blue;
}
.Wisdom {
	background-image: url("/images/Wisdom.png");
	background-size: contain;
	background-repeat: no-repeat;
	color:purple;
}
.Charisma {
	background-image: url("/images/Charisma.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: magenta;
}
.Strengthbtn {
	background-color: black;
	color: red;
}
.Dexteritybtn {
	background-color: black;
	color:orange;
}
.Constitutionbtn {
	background-color: black;
	color:green;
}
.Intelligencebtn {
	background-color: black;
	color:blue;
}
.Wisdombtn {
	background-color: black;
	color:purple;
}
.Charismabtn {
	background-color: black;
	color: magenta;
}

.Char {
	overflow: hidden;
}

.btn a {
	text-decoration: none;
	color: white;
	}

.btn:hover a {
	text-decoration: none;
	color: white;
}
#header h1 {
	font-size: 40px;
	color: #de144a;
	text-shadow: 3px 4px #991135;
	font-family: 'Press Start 2P', cursive;
	animation: groundBreak 1s ease-out 3s
}

#header{
	background-color: black;
}

.navbar {
	font-family: 'Press Start 2P', cursive;
}

.navbar .navbar-item {
	font-size: 0.75rem;
}

.navbar .navbar-item form {
	width: 200px;
}


.charCard {
	font-family: 'Press Start 2P', cursive;
	width:12.5%;
}
.charCard h4 {
	color: #de144a;
	text-shadow: 2px 2px #991135;
	font-size: 1.25vw;
}

.charCard a {
	text-decoration:none;
	color:#de144a
}

.charCard a:hover {
	text-decoration:none;
	color:#de144a
}

.charCard img {
	width: 100%;
	height: 300px;
}

#popout h1 {
	display: hidden;
	color: black;
}

#popout:hover h1{
	display:show;
	color: black;
}

#popout:hover {
	position:fixed;
	top:50px;
	left:20%;	
	z-index: 1;
	width: 250px;
	height: 500px;
	padding: 30px 30px 30px 10px;
	background: #e3cd8f
}


#charCards .charCard:nth-of-type(1) img {
	animation: swipeUp 4s linear;
	animation-delay: -2.5s;
}
#charCards .charCard:nth-of-type(2) img {
	animation: swipeUp 4s linear;
	animation-delay: -2s;
}
#charCards .charCard:nth-of-type(3) img {
	animation: swipeUp 4s linear -1.5s;
}
#charCards .charCard:nth-of-type(4) img {
	animation: swipeUp 4s linear -1s;
}
#charCards .charCard:nth-of-type(5) img {
	animation: swipeUp 4s linear -0.5s;
}
#charCards .charCard:nth-of-type(6) img {
	animation: swipeUp 4s linear;
}
#charCards .charCard:nth-of-type(7) img{
	animation: swipeUp 4s linear 0.5s;
}

#D {
	background: orange;
	color: black;
}

.space {
	width: 100%;
	height: 50px;
}

input {
	border:white 2px solid;
	background:black;
	color: white;
}
textarea{
	border:white 2px solid;
	background:black;
	color: white;
}

.attrCard h3{
	font-size: 20px;
}
@keyframes swipeUp {
	0%{transform: translate(0, 500px)}
	60%{transform:	translate(-50px, -100px)}
	100%{transform:	translate(0,0)}
}

@keyframes groundBreak {
	50%{transform:scale(1.5, 1.5) rotate(5deg);}
	100%{transform:scale(1, 1) rotate(0deg);}
	
}

.Ranger {
	background:lightgreen;
	color: forestgreen;
	border: 2px solid forestgreen;
}
.Paladin {
	background: #b84b49;
	color: darkred;
	border: 2px solid darkred;
}
.Rogue {
	background:black;
	color:red;
	border: 2px solid red;
}
.Bard {
	background:lightpink;
	color: magenta;
	border: 2px solid magenta;
}
.Cleric {
	background:lightblue;
	color: blue;
	border: 2px solid blue;
}
.Druid {
	background:greenyellow;
	color: green;
	border: 2px solid green;
}
.Warlock {
	background:plum;
	color: purple;
	border: 2px solid purple;
}

#footer	{
	color:white;
	margin-top: 200px;
}

.table {
	color:white;
}
td {
	padding: 5px;
}
th {
	padding: 15px;
}
tr:nth-of-type(even){
	background-color:grey;
}

#imageForm {
	display: none;
	width: 300px;
	height: auto;
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 2;
}

#editprev{
	height: 300px;
	width: auto;
}

.charDiv:not(:first-of-type){
	display:none;
}

.attext .Display-5 {
	font-size: 13px;
}

.RollOut {
	position: absolute;
	right: 0;
	bottom: 0; 
	z-index:200; 
	width: 200px;
	height: 100px;
	display: none;
}

#WepCard {
	position: relative;
}

.WeapPlay {
	display:none;
}
.AttrPlay {
	display:none;
}
.popover-title {
	color: black;
}
