<%- include("../partials/header")%>
<div class="container">
	<div class="row pb-3">
		<div class="col">
			<div class="row">
				<div class="col-12 rounded-left text-center text-dark bg-danger">
					<h4>
						D100
					</h4>
				</div>
				<div class="space col-12 text-center">
					<h1 id="dHundred"><h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnHundred" onclick="dHundred()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>	
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-primary">
					<h4>
						D20
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dTwenty">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnTwenty" onclick="dTwenty()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-success">
					<h4>
						D12
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dTwelve"> <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnTwelve" onclick="dTwelve()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-warning">
					<h4>
						D10
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dTen"><h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnTen" onclick="dTen()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-secondary">
					<h4>
						D8
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dEight">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnEight" onclick="dEight()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-light">
					<h4>
						D6
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dSix">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnSix" onclick="dSix()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-dark bg-info">
					<h4>
						D4
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dFour">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnFour" onclick="dFour()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 text-center text-light bg-dark">
					<h4>
						D3
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dThree">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnThree" onclick="dThree()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col-12 rounded-right text-center text-dark bg-white">
					<h4>
						D2
					</h4>
				</div>
				<div class="col-12 space text-center">
					<h1 id="dTwo">  <h1>
				</div>
				<div class="col-12 text-center">
					<a id="btnTwo" onclick="dTwo()"class= "btn btn-sm btn-success">	
				 	Roll
					</a>
				</div>			
			</div>
		</div>		
	</div>
	<div id="dicehis" class="row border border-light rounded align-items-left">
		<div class="col-lg-3">
			<h3>
				Roll History
			</h3>
		</div>
	</div>
	<div>
		<button onclick="clrHis()" class="btn btn-lg btn-success">
			Clear History
		</button>
	</div>			
						
</div>

	
</h1>
<%- include("../partials/footer")%>