<%- include("../partials/header")%>
<div class="container-fluid">
	<div class="row">
		<%Object.keys(CharItems.Attributes.schema.obj).forEach(function(attr){%>
			<div id="<%=attr%>" class="col-2 attr text-center">
				<h5><%=attr%></h5>
				<h4 class="attrval"></h4>
			</div>
	<%})%>
	</div>
	<button class="btn btn-lg btn-success mt-2" id="attrRoll">Roll Again</button>
</div>

	
</h1>
<%- include("../partials/footer")%>